.container{
    display: grid;

    grid-template-areas: 
    "home browsewords practice random myprofile"
    "leftcolumn leftcolumn empty rightcolumn rightcolumn"
    "pagenav pagenav search search search";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
}

.home{
    grid-area:home;
    border-bottom: 2pt black solid;
}

.browsewords{
    grid-area:browsewords;
    border-bottom: 2pt black solid;
}
.practice{
    grid-area:practice;
    border-bottom: 2pt black solid;
}
.random{
    grid-area:random;
    border-bottom: 2pt black solid;
}
.myprofile{
    grid-area:myprofile;
    border-bottom: 2pt black solid;
}

.leftcolumn{
    grid-area: leftcolumn;
    display: subgrid;
    border:gray solid 1pt;
}

.rightcolumn{
    grid-area: rightcolumn;
    display: subgrid;
    border:gray solid 1pt;
}
.pagenav{
    grid-area: pagenav;
    display: grid;
}
.search{
    grid-area: search;
    display: grid;
    grid-template-areas: 
    "slabel sinput ssubmit";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
}