@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="lefcolumn">
    <div class="wordofthedaybox">
        <div class="language">Word of the day</div>
        <a class="word">Word</a>
    </div>
    <div class="text">
        <h3>Welcome to the website</h3>
        <h4>Explore our words and games</h4>
    </div>
</div>
<form method="post" class="rightcolumn">
    
</form>
