@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="lefcolumn">
    <div class="wordofthedaybox">
        <div class="language">Word of the day</div>
        <a class="word">Word</a>
    </div>
    <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus pretium mattis.
        Curabitur ut diam eros. Nullam tincidunt sollicitudin nunc non pellentesque.
        Proin id elit vitae turpis suscipit scelerisque ut sit amet lorem.
        Ut rutrum velit vel quam venenatis, et laoreet ipsum posuere.
        Integer porta eleifend congue. Maecenas non ligula a felis
        finibus ultricies at eget orci. Quisque imperdiet semper mi ac congue.
        Quisque rutrum consectetur molestie. Fusce at tortor blandit, finibus
        risus vitae, malesuada metus. Mauris finibus mattis sem, sit amet pulvinar tellus.

        In vitae placerat ex, eget convallis risus. Maecenas sollicitudin ornare
        tincidunt. Sed fermentum volutpat ante non gravida. Etiam sit amet felis
        et lorem facilisis malesuada. Nam suscipit orci in enim rhoncus fermentum
        sed eget ligula. Nullam aliquet, nibh nec aliquet venenatis, velit dolor
        finibus ipsum, et placerat magna ligula sit amet metus.
    </div>
</div>
<form method="post" class="rightcolumn">
    <input type="text" />
    <input type="submit" value="Process text">
</form>
