@page
@model LanguageLearningSite.Pages.UserPages.AccessDeniedModel
@{
}

<div class="leftcolumn">
    <div class=box>
        <div class=definition>
            Access denied
</div>
    </div>
</div>