@page
@model LanguageLearningSite.Pages.UserPages.UserOverviewModel
@{
}

<div class="leftcolumn">

</div>

<div class="rightcolumn">
    <form method="post">
        
        <input />
    </form>
</div>