@page
@model LanguageLearningSite.Pages.GamePages.LettersModel
@{
}
<div class=leftcolumn>
<h1>Make as many words as you can out of the letters of the word:</h1>
<h2>@Model.Game.InitialWord</h2>
</div>
<div class=rightcolumn>
    <form method="post">

    </form>
</div>
