.container{
    display: grid;

    grid-template-areas: 
    "home browsewords practice random myprofile"
    "leftcolumn leftcolumn empty rightcolumn rightcolumn"
    "pagenav pagenav search search search";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
}
@media(max-width: 800px)
{
    .container {
        display: grid;
        grid-template-areas:
            "home home"
            "browsewords practice"
            "random myprofile"
            "search search"
            "rightcolumn rightcolumn"
            "leftcolumn leftcolumn"
            "pagenav pagenav";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto 1fr 1fr auto;
    }
}

.home{
    grid-area:home;
    border-bottom: 2pt black solid;
}

input[type=submit] {
    color: #fffed7;
    background-color: #d3b3d5;
    border: 1px solid;
}
input[type=reset] {
    color: #050;
    background-color: #edffd7;
    border: 1px solid;
}

.browsewords{
    grid-area:browsewords;
    border-bottom: 2pt black solid;
}
.practice{
    grid-area:practice;
    border-bottom: 2pt black solid;
}
.random{
    grid-area:random;
    border-bottom: 2pt black solid;
}
.myprofile{
    grid-area:myprofile;
    border-bottom: 2pt black solid;
}

.leftcolumn {
    grid-area: leftcolumn;
    display: grid;
    grid-template-columns: 1fr;
    border: gray solid 1pt;
}

.rightcolumn {
    grid-area: rightcolumn;
    display: grid;
    border: gray solid 1pt;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}
.pagenav{
    grid-area: pagenav;
    display: grid;
    grid-template-areas: 
    "prev numbers next";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.numbers{
    grid-area: numbers;
}
.prev{
    grid-area:prev;
}
.next{
    grid-area:next;
}
.box {
    border: gray double 1pt;
    display: grid;
    grid-template-areas: "word wordpart" "definition definition" "language language";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    background-color: #F6FEDB;
}
    .box:hover {
        background-color: #E2CACC;
    }
.wordofthedaybox {
    border: gray double 3pt;
    display: grid;
    grid-template-areas:
        "word language";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    background-color: #39F9EC;
}
a:visited{
    text-decoration:none;
}
a {
    color: #5D576B;
    text-decoration:none;
}
.partofspeech {
    grid-area: wordpart;
    color: #87a2c0;
}
.word {
    grid-area: word;
    color: #5D576B;
    font-weight: bold;
    text-decoration:none;
}
    .word:visited {
        color: #5D576B;
    }

a:link, a:visited {
    color: #5D576B;
}
.definition {
    grid-area: definition;
}
.language{
    grid-area:language;
}
.search{
    grid-area: search;
    display: grid;
    grid-template-areas: 
    "label input submit";
    grid-template-columns: 1fr 2fr auto;
    grid-template-rows: auto;
}
.allwords{
    grid-template-columns: 1fr;
    /*grid-template-rows: repeat(autofit, );*/
}
.field.container {
    display: grid;
    grid-template-areas:
        "error error"
        "label input";
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    align-content:center;
}
label{
    grid-area:label;
}
input[type=text]
{
    grid-area:input;
}
span{
    grid-area:error;
}